.minesweeper-board {
    display: grid;
    justify-content: center;
}

.minesweeper-board button {
    background: grey;
    border: 1px #aeaeae solid;
}

.minesweeper-board button:disabled {
    background: #1f1f1f;
    border: 1px #aeaeae solid;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.page > label {
    display: block;
}

